---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="text-[16px] font-normal leading-[1.4] hover:opacity-80 transition-opacity font-body"
	style="color: rgb(var(--color-foreground));"
>
	<slot />
</a>
