---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="text-base sm:text-lg md:text-[18px] lg:text-[20px] font-normal text-[var(--vanilla-muted)] leading-[1.366] hover:text-[var(--vanilla-green)] transition-colors font-manrope"
>
	<slot />
</a>
