---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	class="text-base sm:text-lg md:text-[18px] lg:text-[20px] font-normal text-theme-muted leading-[1.366] hover:text-theme-foreground transition-colors font-body"
>
	<slot />
</a>
