---
interface Props {
	href: string;
	active?: boolean;
}

const { href, active = false } = Astro.props;
---

<a
	href={href}
	class:list={[
		"text-[16px] font-normal text-theme-foreground hover:opacity-70 transition-opacity leading-[1.4] relative font-body",
		{ "after:absolute after:bottom-[-4px] after:left-0 after:w-full after:h-px after:bg-current": active }
	]}
>
	<slot />
</a>
